<div class="container">
  <div class="text-container" [innerHTML]="currentText"></div>
</div>
<div class="controls">
  <div class="controls-speed">
    <ng-container *ngIf="running; else: playButton">
      <span class="material-symbols-outlined" (click)="pauseInterval()">
        pause_circle
      </span>
    </ng-container>
    <ng-template #playButton>
      <span class="material-symbols-outlined" (click)="resumeInterval()">
        play_circle
      </span>
    </ng-template>
    <span class="material-symbols-outlined" (click)="restart()">
      replay
    </span>
  </div>
  <span>{{ ppm | number: '1.0-0' }} ppm</span>
  <div class="controls-speed">
    <span class="material-symbols-outlined" (click)="increaseSpeed()">
      expand_circle_up
    </span>
    <span class="material-symbols-outlined" (click)="decreaseSpeed()">
      expand_circle_down
    </span>
  </div>
</div>